<div class="tabs-component navtabs" data-tab="<%= SecureRandom.uuid %>" data-tab-use-url-fragment="<%= options['useUrlFragment'] %>">
  <div role="tablist" class="tabs-component-tabs navtab-titles">
    <% environment['tabs'][file_path][@name].each_with_index do |(hash, value), index| %>
      <div class="tabs-component-tab navtab-title <%= index == 0 ? 'active' : '' %>" role="presentation">
        <a
          aria-controls="<%= hash.rstrip.gsub(' ', '-') %>"
          aria-selected="<%= index == 0 %>"
          href="#<%= hash.rstrip.gsub(' ', '-') %>"
          class="tabs-component-tab-a"
          role="tab"
          data-slug="<%= hash.rstrip.gsub(' ', '-') %>"
          >
            <%= hash %>
        </a>
      </div>
    <% end %>
  </div>

  <div class="tabs-component-panels navtab-contents">
    <% environment['tabs'][file_path][@name].each_with_index do |(key, value), index| %>
      <section
        aria-hidden="<%= index != 0 %>"
        class="tabs-component-panel navtab-content <%= index != 0 ? 'hidden' : '' %>"
        id="<%= key.rstrip.gsub(' ', '-') %>"
        role="tabpanel"
        data-panel="<%= key.rstrip.gsub(' ', '-') %>"
      >
        <%= value %>
      </section>
    <% end %>
  </div>
</div>
