<div class="navtabs code">
  <div class="navtab-titles" role="tablist">
    <% environment['tabs'][file_path][@name].each_with_index do |(title, value), index| %>
    <% slug = title.downcase.strip.gsub(' ', '-').gsub(/[^\\w-]/, '') %>
    <div data-slug="<%= slug %>" data-navtab-id="<%= title.rstrip.gsub(' ', '-') %>" class="navtab-title" role="tab" aria-controls="<%= title.rstrip.gsub(' ', '-') %>" tabindex="0">
      <%= title %>
    </div>
  <% end %>
  </div>
  <div class="navtab-contents">
  <% environment['tabs'][file_path][@name].each_with_index do |(title, value), index| %>
    <div data-navtab-content="<%= title.rstrip.gsub(' ', '-') %>" class="navtab-content" role="tabpanel" id="<%= title.rstrip.gsub(' ', '-') %>" tabindex="0">
      <%= value %>
    </div>
  <% end %>
  </div>
</div>